{% extends 'ProjektAJ/base.html' %}
{% block title %}Szczegoly albumy{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'ProjektAJ:detail' album.id %}">
                        {% if album.album_logo %}
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Panel Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active">
                    <a href="{% url 'ProjektAJ:detail' album.id %}">Zobacz wszystko</a>
                </li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Wszystkie Piosenki</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                 <table class="table">
                        <thead>
                        <tr>
                            <th>Tytuł</th>
                            <th>Plik audio</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in album.song_set.all %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                        <a target="_blank" href="{{ song.audio_url|default_if_none:'#' }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                 <!--   <table class="table">
                        <thead>
                        <tr>
                            <th>Tytuł</th>
                            <th>Plik audio</th>
                            <th>Favorite</th>
                            <th>Akcja</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for photo in album.photo_set.all %}
                            <tr>
                                <td>{{ photo.photo_title }}</td>
                                <td>{{ photo.file_type }}</td>
                                <td><img src="{{ photo.photo.url }}" class="img-responsive"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table> -->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Galeria zdjęć</h3>
                    <div class="container">
                        <div class="row" id="efekt">
                        {% for photo in album.photo_set.all %}
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <img class="img-responsive" src="{{ photo.photo.url }}" />
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}

