{% extends 'ProjektAJ/base.html' %}
{% block title %}Rezultat{% endblock %}
{% block songs_active %}active{% endblock %}


{% block body %}

    <ul>
        {% for album in albums %}


            <div class="col-sm-4 col-lg-2">
                <div class="thumbnail">
                    <a href="{% url 'ProjektAJ:detail' album.id %}">
                        <img src="{{ album.album_logo.url }}" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h2>{{ album.album_title }}</h2>
                        <h4>{{ album.artist }}</h4>

                        <!-- View Details -->
                        <a href="{% url 'ProjektAJ:detail' album.id %}" class="btn btn-primary btn-sm" role="button">Szczegoly</a>

                        <!-- Edit Album -->
                        <form action="{% url 'ProjektAJ:album-update' album.id %}" method="get" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="album_id" value="{{ album.id }}" />
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </form>

                        <!-- Delete Album -->
                        <form action="{% url 'ProjektAJ:album-delete' album.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="album_id" value="{{ album.id }}" />
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>

                    </div>
                </div>
            </div>
            {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
        {% endfor %}
    </ul>

{% endblock %}