{% extends 'ProjektAJ/base.html' %}
{% block title %}Wszystkie piosenki{% endblock %}
{% block songs_active %}active{% endblock %}

{% block body %}
 <div class="container-fluid songs-container">
    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Song Title</th>
                                <th>Artist</th>
                                <th>Audio File</th>
                                <th>Album</th>
                                <th>Favorite</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for song in all_songs %}
                               <tr>
                                  <td>{{ song.song_title }}</td>
                                  <td>{{ song.album.artist }}</td>
                                  <td>
                                      <a target="_blank" href="{{ song.audio_url|default_if_none:'#' }}">
                                          <button type="button" class="btn btn-success btn-xs">
                                              <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                          </button>
                                      </a>
                                  </td>
                                  <td>
                                     <a href="{% url 'ProjektAJ:detail' song.album.id %}">
                                         <img src="{{ song.album.album_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                     </a>
                                     <a href="{% url 'ProjektAJ:detail' song.album.id %}">{{ song.album.album_title }}</a>
                                  </td>
                                  <td>
                                      <a href="{% url 'ProjektAJ:favorite' song.id %}" class="btn-favorite">
                                          <span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span>
                                      </a>
                                  </td>
                               </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
</div>
{% endblock %}